{% extends "layout.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/page3" method="get" class="form">

        <h1 class="heading-xlarge">
          Page 2
        </h1>

   <p>Blar blar Blar blar Blar blar Blar blar Blar blar Blar blar Blar blar .</p>
      <p>Blar blar Blar blar Blar blar Blar blar Blar blar .</p>

    

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
